<a href="https://colab.research.google.com/github/denizgcs/Miuul_veri_analiz/blob/master/miuul_proje_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bu çalışma
Python Programming for Data Science
eğitimi projesidir
Kural Tabanlı Sınıflandırma ile
Potansiyel Müşteri Getirisi Hesaplama

In [ ]:
import pandas as pd
df=pd.read_csv("persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [ ]:
df.nunique()

PRICE       6
SOURCE      2
SEX         2
COUNTRY     6
AGE        46
dtype: int64

In [ ]:
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [ ]:
df["COUNTRY"].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

In [ ]:
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [ ]:
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [ ]:
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [ ]:
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [ ]:
df.groupby(["COUNTRY","SOURCE"])["PRICE"].mean()

COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

In [ ]:
df.groupby(["COUNTRY","SOURCE","AGE"])["PRICE"].mean().sort_values()

COUNTRY  SOURCE   AGE
deu      android  26      9.0
fra      android  18     19.0
bra      ios      47     19.0
tur      ios      47     19.0
can      android  27     19.0
                         ...
fra      ios      20     49.0
usa      ios      32     54.0
bra      android  46     59.0
usa      android  36     59.0
fra      android  24     59.0
Name: PRICE, Length: 248, dtype: float64

In [ ]:
df["AGE_CAT"] = pd.cut(df["AGE"],
                       bins=[0, 18, 23, 30, 40, 70],
                       labels=["0_18", "19_23", "24_30", "31_40", "41_70"])

In [ ]:
df["PRICE"].min()
df['PRICE'].max()

59

In [ ]:
df["SEGMENT"] = pd.cut(
    df["PRICE"],
    bins=[9, 21.5, 34, 46.5, 59],
    labels=["D", "C", "B", "A"],
    include_lowest=True
)

In [ ]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE AGE_CAT SEGMENT
0     39  android  male     bra   17    0_18       B
1     39  android  male     bra   17    0_18       B
2     49  android  male     bra   17    0_18       A
3     29  android  male     tur   17    0_18       C
4     49  android  male     tur   17    0_18       A

In [ ]:
print("source, country ve yas aragılına gore ortalama satıs fiyatı\n",df.groupby(["SOURCE","COUNTRY","AGE_CAT"])["PRICE"].sum())

source, country ve yas aragılına gore ortalama satıs fiyatı
 SOURCE   COUNTRY  AGE_CAT
android  bra      0_18        9789
                  19_23      11106
                  24_30       6147
                  31_40       4451
                  41_70       1381
         can      0_18        1522
                  19_23       1040
                  24_30        728
                  31_40          0
                  41_70        943
         deu      0_18        3038
                  19_23       2217
                  24_30       1475
                  31_40       1935
                  41_70        446
         fra      0_18        2186
                  19_23       2051
                  24_30        447
                  31_40        505
                  41_70        301
         tur      0_18        2911
                  19_23       1612
                  24_30       2668
                  31_40        517
                  41_70        661
         usa      0_18       15244
                  19_23      11673
                  24_30       7413
                  31_40       3930
                  41_70       3299
ios      bra      0_18        7437
                  19_23       3429
                  24_30       2758
                  31_40       2894
                  41_70       1962
         can      0_18        2160
                  19_23          0
                  24_30       1066
                  31_40        116
                  41_70        155
         deu      0_18        4064
                  19_23        340
                  24_30       1087
                  31_40        698
                  41_70        185
         fra      0_18        1949
                  19_23        681
                  24_30        677
                  31_40       1341
                  41_70         39
         tur      0_18        2466
                  19_23       2563
                  24_30       1109
                  31_40        436
                  41_70        746
         usa      0_18       11143
                  19_23       7276
                  24_30       5144
                  31_40       3083
                  41_70       2020
Name: PRICE, dtype: int64
source, country ve yas aragılına gore ortalama toplam asatıs miktarı
 SOURCE   COUNTRY  AGE_CAT
android  bra      0_18       281
                  19_23      324
                  24_30      183
                  31_40      129
                  41_70       39
         can      0_18        48
                  19_23       30
                  24_30       22
                  31_40        0
                  41_70       27
         deu      0_18        92
                  19_23       63
                  24_30       45
                  31_40       55
                  41_70       14
         fra      0_18        64
                  19_23       59
                  24_30       13
                  31_40       15
                  41_70        9
         tur      0_18        79
                  19_23       48
                  24_30       72
                  31_40       13
                  41_70       19
         usa      0_18       446
                  19_23      347
                  24_30      227
                  31_40      120
                  41_70       91
ios      bra      0_18       213
                  19_23      101
                  24_30       82
                  31_40       86
                  41_70       58
         can      0_18        60
                  19_23        0
                  24_30       34
                  31_40        4
                  41_70        5
         deu      0_18       116
                  19_23       10
                  24_30       33
                  31_40       22
                  41_70        5
         fra      0_18        61
                  19_23       19
                  24_30       23
                  31_40       39
                  41_70        1
         tur      0_18        74
                  19_23       77
                  24_30       31
                  31_40       14
                  41_70       24
         usa      0_18       327
                  19_23      204
                  24_30      146
                  31_40       97
                  41_70       60
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_9596\3713851974.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print("source, country ve yas aragılına gore ortalama satıs fiyatı\n",df.groupby(["SOURCE","COUNTRY","AGE_CAT"])["PRICE"].sum())
C:\Users\user\AppData\Local\Temp\ipykernel_9596\3713851974.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print("source, country ve yas aragılına gore ortalama toplam asatıs miktarı \n",df.groupby(["SOURCE","COUNTRY","AGE_CAT"]).size())

In [ ]:
print(" 33 yaşında ANDROID kullanan bir Türk kadını B segmentine aittir ortalama \n ",39.76923113,"\n getirisi olur \n")
print("35 yaşında IOS kullanan bir Fransız kadın C segmentine aittir ortalama \n",34.38,"\n getirisi olur \n")

 33 yaşında ANDROID kullanan bir Türk kadını B segmentine aittir ortalama
  39.76923113
 getirisi olur

35 yaşında IOS kullanan bir Fransız kadın C segmentine aittir ortalama
 34.38
 getirisi olur

In [1]:
!jupyter nbconvert --to markdown miuul_proje_.ipynb

[NbConvertApp] WARNING | pattern 'miuul_proje_.ipynb' matched no files
This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--coalesce-streams
    Coalesce consecutive stdout and stderr outputs into one stream (within each cell).
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --CoalesceStreamsPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    Overwrite base name use for output files.
                Supports pattern replacements '{notebook_name}'.
    Default: '{notebook_name}'
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.